* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navigation {
    /* position: absolute; */
    display: flex;
    align-items: center;
    height: 144px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #181845;
  }
  
  .logo {
    margin-left: 66px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    flex: 1;
    /* background: red; */
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    flex: 3;
    /* background: green; */
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* color: #ffffff; */
    color: rgba(255, 255, 255, 0.6);
  }
  
  .nav-links li a:hover {
    text-decoration: none;
    color: #00fffb;
    transition: 0.2s ease-in;
  }
  
  .login-text {
    color: #00fffb !important;
  }
  
  .jumbotron {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 1027px; */
    height: 883px;
    border-radius: 0 !important;
    background: linear-gradient(175.7deg, #181845 36.39%, #2e2e84 83.51%);
  }
  
  .jumbotron-text {
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    /* background-color: greenyellow; */
  }
  
  .learnmore-btn {
    width: 423px;
    height: 82px;
    margin-top: 27px;
    background-color: #21dad7;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0, 2);
  }
  
  .text-btn {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    /* line-height: 28px; */
    text-align: center;
    color: #181845;
  }
  
  .vid {
    width: 629px;
    height: 380px;
    border-radius: 20px;
    background-image: url("./img/Rectangle\ 8.svg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-button {
    background: #ffffff;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-play {
    margin-left: 12px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 25px 0px 25px 50px;
    border-color: transparent transparent transparent #2f2f2f;
  }
  
  .swap-arb {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .swap-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42.26px;
    text-transform: uppercase;
    color: #181845;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  
  .swap-desc {
    width: 65%;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 50px 0 50px 0;
  }
  
  .demo-btn {
    width: 423px;
    height: 82px;
    background-color: #21dad7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .text-demo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }
  
  .tri-icon {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181845;
    /* background-color: #21dad7; */
  }
  
  .tri-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    /* background-color: brown; */
  }
  
  .tri-one-icon {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./img/hedged.svg");
  }
  
  .tri-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  
    /* background-color: cadetblue; */
  }
  
  .tri-two-icon {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./img/risk.svg");
  }
  
  .tri-tri {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  
    /* background-color: darkgoldenrod; */
  }
  
  .tri-tri-icon {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./img/monitor.svg");
  }
  
  .trading-card {
    margin-top: 115px;
    margin-bottom: 82px;
  }
  
  .trading-card > .card {
    width: 70%;
    height: 625px;
    margin: auto;
    padding: 3%;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .trading-title,
  .market-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
    color: #181845;
  }
  
  .trading-form {
    width: 90%;
    margin-top: 8vh;
    align-self: center;
    /* background-color: salmon; */
  }
  
  .trading-label {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    text-align: right;
    color: #181845;
    margin: auto 0 auto 0;
  }
  
  .input-balance,
  .input-gains {
    height: 55px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
  
  .calculate {
    align-self: center;
    margin-top: 50px;
  }
  
  .trading-btn {
    width: 262.71px;
    height: 82px;
    background-color: #21dad7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
  }
  
  .text-trading {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }
  
  .trading-result {
    align-self: center;
    width: 70%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    /* background-color: royalblue; */
  }
  
  .res {
    display: flex;
    flex: 2;
    justify-content: left;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: rgba(37, 37, 106, 0.5);
  }
  
  .res > p {
    margin-right: 30px;
  }
  
  .market-card {
    margin-bottom: 94px;
  }
  
  .market-card > .card {
    width: 70%;
    height: 1068px;
    margin: auto;
    padding: 3%;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .market-opt {
    margin: 30px auto 30px auto;
    width: 60%;
  }
  .market-opt ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .market-opt li {
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #181845;
  }
  
  .graph {
    margin-top: 20px;
    height: 386px;
    background-color: rgba(33, 218, 215, 0.3);
    /* border: 1px solid black; */
    border-radius: 20px;
  }
  
  .graph-time {
    margin-top: 15px;
    width: 30%;
  }
  
  .graph-time ul {
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(33, 218, 215, 0.3); */
  }
  
  .graph-time li {
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* text-align: center; */
    color: #181845;
  }
  
  .currency {
    margin-top: 10px;
    height: 300px;
    background-color: sandybrown;
    /* border: 1px solid black; */
    border-radius: 20px;
  }
  
  .show-more {
    margin-top: 10px;
    text-align: right;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #21dad7;
  }
  
  .reason {
    width: 70%;
    margin: auto;
  }
  
  .reason-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #181845;
  }
  
  .reason-list {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-list {
    /* border: 1px solid red; */
    border-radius: 20px;
    width: 550px;
    height: 150px;
    display: flex;
  }
  
  .card-list:hover {
    cursor: default;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in;
  }
  
  .card-icon {
    /* border: 1px solid blue; */
    /* display: flex;
    align-items: center; */
    /* flex-grow: 1; */
    flex: 1;
  }
  
  .card-content {
    /* border: 1px solid yellow; */
    /* flex-grow: 3; */
    flex: 3;
  }
  
  .p-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #181845;
  }
  
  .p-desc {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #181845;
  }
  
  .how-it-work {
    height: 1750px;
    background-color: #181845;
  }
  
  .how-title {
    padding: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
  }
  
  .step-1,
  .step-2,
  .step-3 {
    height: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
  }
  
  .how-img {
    width: 690px;
    height: 424px;
    background: #ffffff;
    border-radius: 20px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    align-self: center;
    flex: 2;
  }
  
  .step {
    flex: 2;
    margin: 0 0 0 70px;
    align-self: center;
  }
  
  .step p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
  }
  
  .step ul {
    padding-left: 1.2em;
  }
  
  .step ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    padding-left: 1em;
  }
  
  .get-it-card {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .get-it-card > .card {
    width: 729px;
    height: 399px;
    margin: auto;
    padding: 1.5%;
    background-color: #ffffff;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
  }
  
  .card-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .card-head > p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #181845;
  }
  
  .get-it-btn {
    height: 63px;
    width: 234px;
    background: #21dad7;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
  }
  
  .get-it-list ul {
    padding-left: 1.2em;
  }
  
  .get-it-list ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #181845;
    margin-top: 20px;
    padding-left: 1em;
  }
  
  .help-section {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .help-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;
  }
  
  .help-item p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #181845;
  }
  
  .help-icon {
    height: 100px;
    width: 100px;
  }
  
  .help-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #181845;
    margin: 10px 0 20px 0;
  }
  
  .testimoni {
    margin: 150px auto 100px auto;
  }
  
  .testimoni-head {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #181845;
  }
  
  .testimoni-list {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .testimoni-card .card {
    background: #ffffff;
    width: 697px;
    height: 296px;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .testimoni-img {
    flex: 1;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .testimoni-kanan {
    flex: 3;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .the-testimoni {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #181845;
  }
  
  .testimoni-name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #181845;
  }
  
  .testimoni-title {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #7e7e7e;
  }
  
  .footer {
    height: 386px;
    background-color: #181845;
  }
  